body{

height:100vh;

margin:0;

display:flex;

justify-content:center;

align-items:center;


font-family:Arial;


background:linear-gradient(135deg,#00c6ff,#0072ff);


animation:bg 5s infinite alternate;

}



@keyframes bg{

to{

filter:hue-rotate(90deg);

}

}




.box{


background:white;

width:350px;

padding:40px;

border-radius:25px;

text-align:center;


box-shadow:0 20px 50px #0005;


animation:show 1s;


}




@keyframes show{


from{

opacity:0;

transform:scale(.5);

}


to{

opacity:1;

transform:scale(1);

}

}





input{


width:100%;

padding:12px;

margin:10px;


border-radius:20px;

border:1px solid #ddd;


}



button{


padding:12px 30px;

border:none;

border-radius:25px;

background:#0072ff;

color:white;

margin:10px;

cursor:pointer;

transition:.3s;


}



button:hover{

transform:scale(1.1);

}